In [4]:
import pickle
def read_bin(filename):
    with open(filename,'rb') as bf:
        bin_data = pickle.load(bf)
    return bin_data

def save_bin(filename,data):
    with open(filename,'wb') as bf:
        pickle.dump(data,bf)

In [5]:
# gpt35_df=read_bin("new_data/gpt35_df.bin")
# gpt4o_df=read_bin("new_data/gpt4o_df.bin")
gpt4_df=read_bin("new_data/gpt4_df.bin")

In [6]:
FABLE = read_bin("new_data/FABLE.bin")

In [7]:
gpt4_df.head(1)

,id,datePublished,itemReviewed.datePublished,claimReviewed,author.name,reviewRating.@type,reviewRating.ratingValue,reviewRating.alternateName,date_diff,language
25,75eae0a2-c474-4200-9889-f1f80a83be5e,2024-04-09 00:00:00+00:00,2024-03-27 00:00:00+00:00,Laut ORF-Artikel wurde Siegfried Meryn in eine...,dpa,Rating,NaN,"Die angebliche ORF-Webseite wurde gefälscht, d...",13.0,de

In [32]:
gpt4_df_id = list(gpt4_df["id"])
gpt4_df_claimReviewed = list(gpt4_df["claimReviewed"])

In [20]:
save_bin("new_data/ans_dict/ans_correct_dict_0-24.bin",ans_correct)

In [18]:
c_l = [48, 60, 72, 84, 96, 108, 120, 132, 144, 156, 168, 180, 192, 204, 216, 228, 240, 252, 264, 276, 288, 300, 312, 324, 336, 348, 360, 372, 384, 396, 408, 420, 432, 444, 456, 468, 480, 492, 504, 516, 528, 540, 552, 564, 576, 588, 600, 612, 624, 636]

In [14]:
dicts_list = []
cut = 52
for c in c_l:
    d = read_bin("new_data/ans_dict/ans_dict_-"+str(c)+".bin")
    for k,v in d.items():
        if len(v) != 52:
            dicts_list.append(v[cut:])
            cut =len(v)
            break

In [ ]:
for c,l in zip(c_l,dicts_list):
    print(c,":",len(l))
# 48 : 624
# 60 : 624
# 72 : 624...

In [ ]:
# 24-36に問題があることが発覚，その区間は削除
dicts_list = dicts_list[1:]

In [24]:
dicts_list_2 = []#588
for original_list in dicts_list:
    split_lists = []
    # 52個ずつのリストを12個作成
    for i in range(12):
        split_list = original_list[i*52:(i+1)*52]
        split_lists.append(split_list)
    dicts_list_2.extend(split_lists)

In [38]:
ans_correct_dict_handy_fix = dict()
t = 0
for i in range(37,625):
    ans_correct_dict_handy_fix[i] = dicts_list_2[t]
    t += 1

In [39]:
save_bin("new_data/ans_dict/ans_correct_dict_handy_fix_37-624.bin",ans_correct_dict_handy_fix)